:root {
    --splash-logo-section-width: 40vw;
    --splash-font-size: 10vw;
    --right-section-horizontal-padding: 3rem;
    --right-section-vertical-padding: calc(var(--right-section-horizontal-padding) / 2);
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    align-items: center;
    background-color: #0A0D0F;
    overflow: hidden;
    color: #ffffc6;
}

button {
    background-color: #93e6f5;
    color: #141719;
    padding: .5rem 2rem;
    border-radius: 5px;
}

.flex-container {
    display: flex;
}

.splash-logo-section {
    position: relative;
    width: var(--splash-logo-section-width);
}

.splash-logo-section img.bg {
    width: var(--splash-logo-section-width);
    overflow-y: hidden;
}

.splash-logo-container {
    position: absolute;
    top: 20%;
    width: var(--splash-logo-section-width);
    height: 20%;
    background-color: rgba(0, 0, 0, .6);
    align-items: center;
    justify-content: center;
    font-size: var(--splash-font-size);
}

.splash-logo-container img[src="./odin-lined.png"] {
    height: 80%;
}

.splash-logo-container p {
    margin: 0;
}

.right-section.flex-container {
    flex-direction: column;
    justify-content: center;
}

.right-section>p.flavor-text {
    font-size: 1.5rem;
    padding: var(--right-section-vertical-padding) var(--right-section-horizontal-padding);
}

.input-container {
    background-color: #141719;
    padding: var(--right-section-vertical-padding) var(--right-section-horizontal-padding);
}

.input-container>h2 {
    margin-top: 0;
}

.button-container {
    padding: var(--right-section-vertical-padding) var(--right-section-horizontal-padding);
}