:root {
    --splash-logo-section-width: 40vw;
    --splash-font-size: 10vw;
    --right-section-horizontal-padding: 3rem;
    --right-section-vertical-padding: calc(var(--right-section-horizontal-padding) / 2);
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    align-items: center;
    background-color: #0f1214;
}

button {
    background-color: #93e6f5;
    color: #141719;
    padding: .65rem 2rem;
    border-radius: 5px;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.splash-logo-section {
    position: relative;
    width: var(--splash-logo-section-width);
    color: #ffffc6;
}

.splash-logo-section img.bg {
    width: var(--splash-logo-section-width);
    overflow-y: hidden;
}

.splash-logo-container {
    position: absolute;
    top: 20%;
    width: var(--splash-logo-section-width);
    height: 20%;
    background-color: rgba(0, 0, 0, .6);
    align-items: center;
    justify-content: center;
    font-size: var(--splash-font-size);
}

.splash-logo-container img[src="./odin-lined.png"] {
    height: 80%;
}

.splash-logo-container p {
    margin: 0;
}

.right-section.flex-container {
    flex-direction: column;
    justify-content: center;
    color: #fad5d5;
}

p.flavor-text,
.input-container,
.button-container {
    padding: var(--right-section-vertical-padding) var(--right-section-horizontal-padding);
}

p.flavor-text {
    font-size: 1.5rem;
}

.input-container {
    background-color: #141719;
}

.input-container>h2 {
    margin-top: 0;
}

.form-row {
    margin-bottom: 40px;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-bottom: 20px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
    border-radius: 5px;
    padding: 4px;
}